
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kablammo&family=Kalnia+Glaze:wght@100..700&family=Roboto+Slab:wght@100..900&family=Rubik+Mono+One&family=Timmana&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: "Kablammo", system-ui;
}

a {
  text-decoration: none;
}